body {
    text-align: center;
}

.blue-class {
    border: solid, 2px, blue;
}

.green-class {
    border: solid, 2px, green;
}

.orange-class {
    border: solid, 2px, orange;
}

.red-class {
    border: solid, 2px, red;
}